log.*

*~

**/processor*

**/[0-9]*

**/[0-9]*.[0-9]*

!**/0.org

**/ROMFiles*

**/__pycache__*

**/constant/polyMesh*

**/constant/fluidRegion/polyMesh*

**/constant/neutroRegion/polyMesh*

**/constant/thermoMechanicalRegion/polyMesh*

*.OpenFOAM

*.dat

*.png

*.jpeg

*.csv

*.txt

*.m

*.seed
